/* GENERAL RULES */
a, a:hover, a:visited {
    color: inherit;
}

* {
    box-sizing: border-box;

    /* outline: 2px red solid; */
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100vh;
}

button, button:visited, button:hover {
    background: none;
    border: none;
    color: black;
}

.centered-text {
    text-align: center;
}

img {
    max-width: 100%;
}

.inline {
    display: inline;
}

.flex-right-centered {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.flex-centered-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-spacebetween-centered {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline-block {
    display: inline-block;
}

.left-text {
    text-align: left;
}

li {
    display: inline-block;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* LAYOUT */

#bottom-header-navigation {
    height: 10vh;
}

.home-paragraph-button {
    margin-top: 1rem;
    padding: 0.7rem 1rem;
}

#home-paragraph-container {
    margin: 2rem auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 5vw;
}

#home-paragraph-container > div {
    padding: 1rem;
    max-width: 30rem;

}

#login-link {
    padding: 0.2rem 1rem;
    margin-right: 1rem;

}

#main-title {
    padding: 0.5rem 1rem;
}

#main-title-container {
    width: fit-content;
    max-width: 50%;

    margin-left: 1rem;
    margin-top: 2rem;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.padding-05 {
    padding: 0.5rem;
}

.paragraph-container {
    max-width: 80%;
}


#picture-header {
    height: 90vh;
}

.result-image {
    width: 100%;
    height: 40vh;
    object-position: top;
    object-fit: cover;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);

}

#search-results {
    display: flex;
    justify-content: center;
    align-content: baseline;
    flex-wrap: wrap;
}

#search-results-container {
    border: 2px black solid;
    box-shadow: 8px -8px rgb(236, 236, 236);

    width: 92%;
    margin: 4%;
    padding: 0.7rem;
}

.single-result {
    width: 100%;
    max-width: 600px;
    padding: 1rem 0;
}

#whole-header {
    min-height: 100vh;
}

#upmost-header {
    min-height: auto;
}

/* COLORS */

.black-bg {
    background-color: black;
}

.black-bg-transparent {
    background-color: rgba(0, 0, 0, 0.835);
}

.black-text {
    color: black;
}

#bottom-header-navigation {
    background-color: white;
}

footer a:hover {
    color: lightgray;
}

#login-link:hover {
    background-color: rgba(128, 128, 128, 0.411);
}

#main-title-container {
    border-bottom: 7px white solid;
}

#read-stories-button:hover, #read-stories-button:active {
    background-color: black;
    color: white;

}

.white-text {
    color: white;
}

/* TYPOGRAPHY */

* {
    font-family: "Open Sans", sans-serif;
}

a, a:hover, a:active {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

footer * {
    font-size: xx-small;
}

.lato-sans {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

.lowercase {
    text-transform: lowercase;
}

.l-text {
    font-size: large;
}

.s-text {
    font-size: small;
}

.uppercase {
    text-transform: uppercase;
}

.xl-text {
    font-size: x-large;
}

.xxl-text {
    font-size: xx-large;
}

/* DECORATIONS */

button:hover, button:active {
    /* background-color: white;
     */
    outline: 4px black solid;
    background-color: white;

}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin-top: 3rem;
    margin-bottom: 2rem;
    
}

.left-border {
    border-left: 1px solid black;
}

#main-title-container:hover {
    box-shadow: 60px 40px rgba(158, 158, 158, 0.616);
}

.right-border {
    border-right: 1px solid black;
}

.single-result {
    border-bottom: 1px black dashed;
}

#whole-header {
    background-color: black;
    background-image: url("./img/the-humantra-Hsjdsq6yohk-unsplash_high_contrast.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* HOVER ANIMATION TAKEN FROM THE INTERNET */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  /* color: #555; */
}

nav.shift ul li a {
    position:relative;
    z-index: 1;
  }
  nav.shift ul li a:hover {
    /* color: #91640F; */
  }
  nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #bbbbbb;
    visibility: none;
    opacity: 0;
    z-index: -1;
  }
  nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }
  
  
  
  /* Keyframes */
  @-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #bbbbbb;
    }
  }
  
  /* Keyframes */
  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: #aaa;
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }

/*  MEDIA QUERIES */

/* Fonts were a bit tiny on bigger screens */
@media (min-width: 650px) {

    * {
        font-size: 20px;
    }

    footer * {
        font-size: medium;
    }

    .xl-text {
        font-size: 2rem;
    }

    .xxl-text {
        font-size: 3rem;
    }
}

/* Text overflows in very small screens */
@media (max-width: 300px) {

    .xl-text {
        font-size: small;
    }

    .xxl-text {
        font-size: medium;
    }
}