/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* GENERAL RULES */
/* a, a:hover, a:visited {
    color: inherit;
} */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: black;
    /* outline: 2px red solid; */
}

.block {
    display: block;
}

.block-mobile-only {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

button, button:visited, button:hover {
    background: none;
    border: none;
    color: black;
}

.centered-text {
    text-align: center;
}

.flex-right-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.flex-centered-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-spacebetween-centered {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.all-except-footer {
    min-height: calc(var(--vh, 1vh) * 95);
}

footer {
    min-height: 5vh;
 /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 5);
}

.green-outline {
    outline: 2px green solid;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.left-text {
    text-align: left;
}

li {
    display: inline-block;
}

.margin-4 {
    margin: 4%;
}

.margin-0 {
    margin-top: auto;
    margin-bottom: 0;
}

.margin-bottom-1 {
    margin-bottom: 1rem;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

.widht-100 {
    width: 100%;
}

.red-outline {
    outline: 2px red solid;
}

/* LAYOUT */

.accented-link {
    padding: 0.5% 1.5%;
}

.add-button-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 1rem;
}

.add-button-container button {
    min-width: 8rem
}

.hidden-container {
    padding: 2rem;
}

#home-link {
    margin-right: auto;
}

.home-paragraph-button, .log-button {
    margin-top: 1rem;
    padding: 0.5rem 0.7rem;
}

.home-paragraph-button:hover, .home-paragraph-button:active {
    background-color: white;
    color: black;
    outline: 4px black solid
}

#home-paragraph-container {
    margin: 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    gap: 4rem;
}

#home-paragraph-container > div {
    padding: 1rem;
    max-width: 30rem;
}

#home-paragraph-container h2 {
    max-width: 80%;
    margin: 0 auto;
}

#log-in-container, #sign-up-container, #user-container {
    max-width: 100%;
    min-width: 75%;
    right: 0%;
    position: absolute;
    z-index: 999;
}

#main-title {
    padding: 0.5rem 1rem;
}

#main-title-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 1rem;
    margin-top: 2rem;
}

.nav-item {
    padding: 0.5rem 1rem;
}

#new-story-image {
    width: 100%;
}

.padding-05 {
    padding: 0.5rem;
}

.paragraph-container {
    max-width: 80%;
}

#profile-data-box button {
    margin-right: 0.5rem;
    min-width: 9rem;
}

.result-image {
    width: 100%;
    height: 40vh;
    -o-object-position: top;
    object-position: top;
    -o-object-fit: cover;
    object-fit: cover;
    outline: 1px black solid;
    border-left: 0.7rem black solid;
    -webkit-filter: grayscale(100%);
 /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

#results-header {
    margin-left: 4%;
    margin-top: 2.5rem;
}

.header-textcontainer {
    max-width: 30rem;
}

.padding-4 {
    padding: 4%;
}

.grid-results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: baseline;
    align-content: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 4%;
}

.width-92 {
    width: 92%;
    margin: 0 auto;
}

.boxed-results {
    border: 2px black solid;
    -webkit-box-shadow: 10px -15px rgb(236, 236, 236);
    box-shadow: 10px -15px rgb(236, 236, 236);
    margin: 4%;
    padding: 0.7rem;
}

#selector-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-line-pack: baseline;
    align-content: baseline;
}

.single-result {
    width: 100%;
    max-width: 600px;
    padding: 1rem 0;
    margin: 1rem 0;
}

.single-selector {
    margin-right: 1rem;
}

#bottom-header-navigation {
    min-height: 10vh;
    min-height: calc(var(--vh, 1vh) * 10);
}

#picture-header {
    /* height: 90vh; */
    min-height: 90vh;
    min-height: calc(var(--vh, 1vh) * 90);
}

#whole-header {
    min-height: 100vh;
 /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
}

.upmost-header {
    min-height: 2.5rem;
    padding: 0 2.5%;
}

/* COLORS */
.accented-link:hover {
    background-color: rgba(128, 128, 128, 0.411);
}

.black-bg {
    background-color: black;
}

.black-bg-transparent {
    background-color: rgba(0, 0, 0, 0.705);
}

.black-text {
    color: black !important;
}

#bottom-header-navigation {
    background-color: white;
}

.dark-grey-bg {
    background-color: rgb(20, 20, 20);
}

.grayhover:hover {
    color: grey;
    text-decoration: underline;
}

#log-in-container {
    padding: 1rem;
}

.log-button {
    background-color: white;
    color: black;
}

.log-button:hover, .log-button:active {
    background-color: black;
    color: white !important;
    outline: 3px white solid;
}

#main-title-container {
    border-bottom: 7px white solid;
}

#picture-header input[type="text"], #picture-header input[type="password"], #picture-header input[type="email"], .all-except-footer input[type="text"], .all-except-footer input[type="password"], .all-except-footer input[type="email"] {
    background-color: black;
    color: white;
    border: 0;
    border-bottom: 3px grey solid;
}

.formatted-form input[type="text"], .formatted-form input[type="password"], .formatted-form input[type="email"], .formatted-form input[type="number"], .formatted-form input[type="email"], .formatted-form input[type="tel"], .formatted-form textarea, .formatted-form select {
    border: 0;
    background-color: rgb(243, 243, 243);
    border-bottom: 3px black solid;
    color: black;
}

.formatted-form textarea {
    width: 100%;
}

#read-stories-button:hover, #read-stories-button:active {
    /* background-color: black;
    color: white; */
}

.red-text-recursive * {
    color: red;
    font-weight: bold;
}

select {
    color: black;
    background-color: rgb(241, 241, 241);
    border: none;
    outline: 0;
    border-bottom: 4px solid grey;
}

select:focus {
    outline: 1px black solid;
}

option:active, option:focus {
    border: none;
    outline: 0;
}

option {
    background-color: rgb(184, 184, 184);
    border: none;
    outline: none;
}

.white-text {
    color: white;
}

.white-text * {
    color: white;
}

/* TYPOGRAPHY */

* {
    font-family: "Open Sans", sans-serif;
}

a, a:hover, a:active {
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

footer * {
    font-size: xx-small;
}

.lato-sans {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

.lowercase {
    text-transform: lowercase;
}

.l-text {
    font-size: large;
}

.s-text {
    font-size: small;
}

.underlined {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.xl-text {
    font-size: x-large;
}

.xxl-text {
    font-size: xx-large;
}

/* DECORATIONS */

#read-stories-button:hover, #read-stories-button:active {
    outline: 4px black solid;
    background-color: white;
}

/* DONT MOVE This one overwrites the first one for header buttons */
.accented-link:hover, .accented-link:active {
    outline: none;
    color: white;
}

.decorated-points::before {
    content: "‣";
    text-decoration: none;
    display: inline-block;
}

hr {
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.left-border {
    border-left: 1px solid black;
}

#main-title-container:hover {
    -webkit-box-shadow: 60px 40px rgba(158, 158, 158, 0.616);
    box-shadow: 60px 40px rgba(158, 158, 158, 0.616);
}

.form-left-border {
    border-left: 0.2rem black solid;
    padding-left: 6%;
}

.right-border {
    border-right: 2px solid black;
}

.simple-box {
    border: 4px black solid;
    padding: 4%;
}

.single-result {
    border-bottom: 1px black dashed;
}

.ticked-element::after {
    content: " ✔";
    color: green;
}

.underline-hover:hover {
    text-decoration: underline;
}

/* .underline-hover:hover::before {
    content: "‣ ";
    text-decoration: none;
} */

#user-icon-button {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem;
    background-image: url(./img/user.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#home-link {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0.2rem;
    background-image: url(./img/home.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
}

#user-icon-button:hover, #user-icon-button:active {
    background-color: none;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

#whole-header {
    background-color: black;
    background-image: url("./img/the-humantra-Hsjdsq6yohk-unsplash_high_contrast.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* HOVER ANIMATION TAKEN FROM THE INTERNET */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #bbbbbb;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}
  
  
  
  /* Keyframes */
@-webkit-keyframes fill {
    0% {
        width: 0%;
        height: 1px;
    }

    50% {
        width: 100%;
        height: 1px;
    }

    100% {
        width: 100%;
        height: 100%;
        background: #bbbbbb;
    }
}
  
  /* Keyframes */
@-webkit-keyframes circle {
    0% {
        width: 1px;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: 1px;
        z-index: -1;
        background: #eee;
        border-radius: 100%;
    }

    100% {
        background: #aaa;
        height: 5000%;
        width: 5000%;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 0;
    }
}

/*  MEDIA QUERIES */

/* Fonts were a bit tiny on bigger screens */

@media (min-width: 650px) {

    * {
        font-size: 20px;
    }

    .add-button-container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .block-mobile-only {
        display: inline-block;
    }

    .boxed-results {
        -webkit-box-shadow: 20px -30px rgb(236, 236, 236);
        box-shadow: 20px -30px rgb(236, 236, 236);
    }

    footer * {
        font-size: medium;
    }

    #log-in-container, #sign-up-container, #user-container {
        max-width: 100%;
        min-width: 30%;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }

    #login-link {
        font-size: medium;
    }

    .min-height {
        min-height: 4.5rem;
    }

    .s-text {
        font-size: medium;
    }

    .xl-text {
        font-size: 2rem;
    }

    .xxl-text {
        font-size: 3rem;
    }
}

/* Text overflows in very small screens */
@media (max-width: 300px) {

    .xl-text {
        font-size: small;
    }

    .xxl-text {
        font-size: medium;
    }
}

@media (min-width: 2000px) {

    body {
        max-width: 2500px;
        margin: 0 auto;
    }
}

@media (max-height: 650px) and (orientation: landscape) {
    #main-title {
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        max-width: 20vw;
        font-size: small;
    }

    #main-title .xxl-text {
        font-size: medium;
    }

    #main-title .xl-text {
        font-size: small;
    }
}